<h4>edit</h4>

<%= form_for @user, :html => { :multipart => true } do |f| %>
   <% if @user.errors.any? %>
      <div class="errors">
         <ul>
            <% for message in @user.errors.full_messages %>
               <li><%= message %></li>
            <% end %>
         </ul>
      </div>
   <% end %>

   <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
   </p>
   <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
   </p>
   <p>
    <%= f.label :bio %>
    <%= f.text_field :bio %>
   </p>
   <p>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %><br>
    <span><%= image_tag @user.avatar.url(:thumb) %></span>
   </p>
   <%= f.submit %>
<% end %>
