<div id="user-header-carousel" class="carousel slide" data-ride="carousel">
   <div class="carousel-inner">
      <div class="item active" style="max-height: 400px; overflow: hidden;">
         <%= image_tag user.avatar.url, :width => "100%", :class => "img img-rounded"  %>
         <div class="carousel-caption">
            <%= image_tag user.avatar.url(:thumb), :class => "img img-rounded" %>
            <h1><%= user.username %></h1>
            <p><%= user.bio %>
            <%= link_to content_tag(:span, "", class:"glyphicon glyphicon-pencil"), edit_user_path(user) if can_edit %>
            </p>
         </div>
      </div>
   </div>
</div>
