<%= render 'post_header', :post => @post %>
<%= render(@post) %>
<%= link_to "Edit", edit_post_path(@post) if can_edit @post %><br>

<div class="panel panel-default">
   <div class="panel-heading">
      <h3 class="panel-title">
         <%= pluralize(@post.comments.count, "Comment") %>
      </h3>
   </div>
   <div class="panel-body">
      <%= render(@post.comments) %>
   </div>
</div>

<%= render 'comments/form' if current_user %>
