<!DOCTYPE html>
<html>
<head>
   <title><%= @title or "Selfer" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <div class="container">
      <br>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/flash' %>

      <%= yield %>
   </div>

</body>
</html>
